body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #02081a;
    color: #ffffff;
}

.navbar {
    display: flex;
    background-color: #02081a;
    padding: 18px 0;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin: 0 0 0 20px;
    gap: 40px;
    align-items: center;
    flex: 1;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: rgba(182, 185, 197, 0.68);
    font-size: 18px;
    font-weight: normal;
    transition: transform 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.1);
}



.icon {
    filter: brightness(0) invert(1); /* black → white */
}


main {
    min-height: 90vh;                   /* full viewport height */
    display: flex;
    align-items: center;                 /* vertical centering */
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    color: #1a3fc5;
}

.navbar li.right {
    margin-left: auto;
    margin-right: 20px;
}

.user-settings {
    vertical-align: middle;
    cursor: pointer;
    filter: brightness(0) invert(1);
}